{% extends "base.html" %}

{% block title %}Interactive Stock Visualizer{% endblock %}

{% block content %}
<p>
    Interctive Stock Analyzer is a final project for the Code Louisville Data Analysis Pathway - Course 1.
</p>
<p>
    In this project, I create an interactive stock visualization website using Python/Flask and Alpha Vantage APIs.
    <br><a href="https://github.com/danyfebrero/StockMarketDA"><em>GitHub Repository</em></a>
</p>


<h5>Requirements</h5>
<p>Create an Alpha Vantage API key for free at <a href="https://www.alphavantage.co/support/#api-key)">Alpha Vantage</a></p> 
<p>
        <b>FEATURE LIST:</b> 
        <dl>
            <dt><b>Category 1: Python Programming Basics:</b></dt>
            <dd>- Implemented a “master loop” console application where the user can repeatedly enter commands/perform actions, including choosing to exit the program. (stockAnalizer.py >> into dunder name funtion)</dd>
            <dd>- Created a dictionary and lists, I did populate it with several values, retrieve at least one value, and use it in my program.</dd>
            <dd>- Created and call at least 3 functions or methods, at least one of which return a value that is used somewhere else in my code</dd>
            <dd>- Calculated and displayed data based on an external factor. (stockAnalizer.py and app.py)</dd>
            <dd>- Analyzed text and display information about it (stockAnalizer.py and app.py)</dd>
            <br><dt><b>Category 2: Utilize External Data:</b></dt>
            <dd>- Connect to an external/3rd party API and read data into your app (stock_data_collector.py and model.py)</dd>
            <dd>- Read data from an external file, such as text, JSON, CSV, etc, and use that data in your application.</dd>
            <br><dt><b>Category 3: Data Display</b></dt>
            <dd>- Visualized data in a graph, chart, or other visual representation of data. (stockAnalizer.py and app.py)</dd>
            <dd>- Display data in tabular form (stockAnalizer.py)</dd>
            <br><dt><b>Category 4: Best Practices</b></dt>
            <dd>- The program utilize a virtual environment and document library dependencies in a requirements.txt file.</dd>
            <br><dt><b>“STRETCH” Feature List:</b></dt>
            <dd>- Use pandas, matplotlib, and/or numpy to perform a data analysis project. Ingest 2 or more pieces of data, analyze that data in some manner, and display a new result to a graph, chart, or other display.</dd>
        </dl>
        
</p>

{% endblock %}