{% extends "base.html" %}

{% block title %}Interactive Stock Visualizer{% endblock %}

{% block content %}

{% if invalid_symbol == "True" %}
    <p>
        <br>
        Invalid stock symbols, <a href="{{ url_for('stock') }}">please try again.</a> 
    </p>
{% else %}
    <p>
        <br>
        The API service for our global community of users is up to 5 API requests per minute and 500 requests per day and you exceeded the usage/frequency limits. <br> Please try again later or if you would like to target a larger API call volume, please visit <a href="https://www.alphavantage.co/premium/">premium membership.</a> 
    </p>
{% endif %}

{% endblock %}