{% extends "base.html" %}

{% block title %}Interactive Stock Visualizer{% endblock %}

{% block content %}
<h1>Welcome to my Interective Stock Visualizer!</h1>
    <p>
        This is a final project for the Code Louisville Data Analysis Pathway - Course 1.
    </p>
    <p>In order to use this visualizer
        <em>you need an API key</em>
        from <a href="https://www.alphavantage.co/support/#api-key">Alpha Vantage.</a>
    </p>
    <p>If you alredy have the API key  
        <a href="https://www.alphavantage.co/support/#api-key">submit here.</a>
    </p>
{% endblock %}